h2 {
  text-align: center;
  margin-top: 2vh;
}

form {
  width: 80vw;
  margin: auto;

  textarea {
    min-height: 28vh;
  }

  input,
  textarea {
    margin-bottom: 2vh;
  }

  label {
    margin: 2vh 0px;
  }

  .btn {
    margin-left: 45vw;
    margin-bottom: 5vh;
    padding: 10px 20px;
  }

  .btn-info {
    margin: 0vh;
  }
}
