
<h2>Add a new post</h2>
<form (ngSubmit)="onAddItem(postForm)" #postForm="ngForm">
  <div class="form-group">
      <label for="name">Add name and surname of famous:</label>
      <input
          name="name"
          type="name"
          class="form-control"
          id="name"
          placeholder="Add name and surname"
          maxlength="100"
          ngModel
          />
      </div>
  <div class="form-group">
      <label for="postCountry">Where it comes from?</label>
      <input
          name="postCountry"
          type="postCountry"
          class="form-control"
          id="postCountry"
          placeholder="Add country"
          maxlength="30"
          ngModel
          />
      </div>
  <div class="form-group">
      <label for="postText">Biography:</label>
      <textarea
          id="postText"
          type="postText"
          class="form-control"
          name="postText"
          placeholder="Add biography"
          ngModel></textarea>
  </div>
  <button type="submit" class="btn btn-info">ADD</button>
</form>
