
<h2>Add a new post</h2>
<form (ngSubmit)="onAddItem(postForm)" #postForm="ngForm">
  <div class="form-group">
      <label for="title">Post title:</label>
      <input
          name="title"
          type="text"
          class="form-control"
          id="title"
          placeholder="Enter title of post"
          maxlength="100"
          ngModel
          />
      </div>
  <div class="form-group">
      <label for="postText">Post:</label>
      <textarea
          id="postText"
          type="postText"
          class="form-control"
          name="postText"
          placeholder="Enter your text..."
          ngModel></textarea>
  </div>
  <button type="submit" class="btn btn-info">ADD</button>
</form>
