h2 {
  text-align: center;
  margin-top: 4vh;

  img {
    width: 60px;
  }
}

form {
  width: 80vw;
  margin: auto;

  textarea {
    min-height: 28vh;
  }

  input,
  textarea {
    margin-bottom: 3vh;
  }

  label {
    margin: 2vh 0px;
  }

  .buttonsContainer {
    text-align: center;

    button {
      margin: 40px;
    }
  }
}
