.navbar-brand,
.nav-item {
  margin: 10px;
  color: #000000;
}

.navbar-brand:hover {
  color: #A9A9A9;
}

img {
  width: 70px;
  margin: 5px;
}

#github{
  margin: 30px;
  font-size: 1.80em;
  color: black;
}


