h2 {
  text-align: center;
  margin-top: 4vh;
  animation: post-load 300ms ease-in;

  img {
    width: 60px;
  }
}

.buttonsContainer {
  text-align: center;

  button {
    margin: 40px;
  }
}

.post {
  margin: 10vh;
}

hr {
  color: #76797e;
}

img {
  width: 16px;
}
